//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('PlayfairDisplay-Italic', 'PlayfairDisplay', 'PlayfairDisplay-Italic',  normal, normal)

webfont('RFDewiExpanded-Black', 'RfDewi', 'RFDewiExpanded-Black',  normal, normal)
webfont('RFDewiExpanded-Bold', 'RfDewi', 'RFDewiExpanded-Bold',  normal, normal)
webfont('RFDewiExpanded-Regular', 'RfDewi', 'RFDewiExpanded-Regular',  normal, normal)
webfont('RFDewiExpanded-Semibold', 'RfDewi', 'RFDewiExpanded-Semibold',  normal, normal)

webfont('Montserrat-Regular', 'Montserrat', 'Montserrat-Regular',  normal, normal)
webfont('Montserrat-Bold', 'Montserrat', 'Montserrat-Bold',  normal, normal)
webfont('Montserrat-Medium', 'Montserrat', 'Montserrat-Medium',  normal, normal)


