{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/preloader.html' %}


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="sect__promo">
				<div class="container">
					<div class="promo-block">
						<h1 class="title">Вербальна<br> айдентика<br> <i>бренду</i></h1>

						<div class="promo-img js-item-parallax" data-parallax-speed="0.2" data-parallax-direction="vertical-top">
							<img src="img/paper.png" alt="">
						</div>
						

						<div class="promo-round">
							<svg  viewBox="0 0 23 71" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.2207 0.899345C11.6349 0.31356 10.6852 0.313561 10.0994 0.899345L0.55343 10.4453C-0.0323563 11.0311 -0.0323563 11.9808 0.553431 12.5666C1.13922 13.1524 2.08896 13.1524 2.67475 12.5666L11.16 4.08133L19.6453 12.5666C20.2311 13.1524 21.1808 13.1524 21.7666 12.5666C22.3524 11.9808 22.3524 11.0311 21.7666 10.4453L12.2207 0.899345ZM12.66 70.96L12.66 1.96001L9.66003 1.96001L9.66003 70.96L12.66 70.96Z" />
							</svg>

							<img src="img/decor/round.svg" alt="">
						</div>
					</div>

					<div class="text-meaning">
						<div class="text-meaning__entering row align-vertical-center row-nowrap align-horisontal-start">
							
							<h2 class="text-meaning__title" data-aos="fade-up">Текстова складова брендингу, що відповідає за три завдання:</h2>

							<svg  viewBox="0 0 297 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M296.061 13.0607C296.646 12.4749 296.646 11.5252 296.061 10.9394L286.515 1.39342C285.929 0.807636 284.979 0.807636 284.393 1.39342C283.808 1.97921 283.808 2.92896 284.393 3.51474L292.879 12L284.393 20.4853C283.808 21.0711 283.808 22.0208 284.393 22.6066C284.979 23.1924 285.929 23.1924 286.515 22.6066L296.061 13.0607ZM-1.31134e-07 13.5L295 13.5L295 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z"/>
							</svg>

						</div>

						<div class="text-meaning__blocks row align-horisontal-between row-gutters">
							<div class="text-meaning__block col-gutters" data-aos="flip-up" data-aos-delay="0">
								<p><i>виразити</i> сутність<br> і характер бренду</p>
							</div>
							<div class="text-meaning__block col-gutters" data-aos="flip-up" data-aos-delay="200">
								<p><i>знайти</i> відгук<br>саме своїх<br> клієнтів</p>
							</div>
							<div class="text-meaning__block col-gutters" data-aos="flip-up" data-aos-delay="400">
								<p><i>створити</i> зв’язки<br> з середовищем </p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect promo -->

			<section class="sect__thesis">
				<div class="container">
					<div class="thesis" data-aos="fade-up">
						
						<p>Без вербальної комунікації<br> інші вияви бренду послаблюються або й втрачають сенс. <i>Слова</i> <i>відповідають</i> <i>за</i> <i>зміст.</i> Словами ми думаємо. Саме словами аудиторія запам’ятовує, що бренд прагнув сказати. </p>


						<div class="thesis-img" data-aos="flip-up">
							<img src="img/book.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect thesis -->

			<section class="sect__prices" id="prices">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up">Підмет, <i>присудок</i></h2>

					<div class="prices row align-vertical-start align-horisontal-center">
						<div class="price-block" data-aos="fade-up" data-aos-delay="0">
							<div>
								<h3 class="price-block__title">Назва</h3>
								<div class="price-block__description">
									<p>Розроблення назви з вільною ТМ, що відповідає платформі бренду компанії</p>
								</div>
								<p class="price-block__value">1 500 $</p>
							</div>
						</div>

						<div class="price-block" data-aos="fade-up" data-aos-delay="100">
							<div>
								<h3 class="price-block__title">слоган</h3>
								<div class="price-block__description">
									<p>Вираження місії, цінностей або УТП в лаконічній і художній форм</p>
								</div>
								<p class="price-block__value">600 $</p>
							</div>
						</div>

						<div class="price-block" data-aos="fade-up" data-aos-delay="200">
							<div>
								<h3 class="price-block__title">Пакування</h3>
								<div class="price-block__description">
									<p>Тексти, що розкривають історію, образ або переваги компанії голосом бренду</p>
								</div>
								<p class="price-block__value">500-1 000 $</p>
							</div>
						</div>

						<div class="price-block" data-aos="fade-up" data-aos-delay="300">
							<div>
								<h3 class="price-block__title">голос <i>бренду</i></h3>
								<div class="price-block__description">
									<p>Естетика і правила спілкування компанії, що є стандартом для всіх носіїв</p>
								</div>
								<p class="price-block__value">1 000-1 500 $</p>
							</div>
						</div>

						<div class="price-block" data-aos="fade-up" data-aos-delay="400">
							<div></div>
							<h3 class="price-block__title">ключові <i>тексти</i></h3>
							<div class="price-block__description">
								<p>Сайт, презентація, застосунок — створюю лише основні носії для комунікації компанії</p>
							</div>
							<p class="price-block__value">від 500 $</p>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect prices -->

			<section class="sect__advantages">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up">Будова <i>речення</i></h2>

					<div class="advantages-wrapper">
						<div class="advantages row">
							<div class="advantage" data-aos="fade-up" data-aos-delay="0">
								<div>
									<h3 class="advantage-title">Аналізую</h3>
									<p>бриф, проводжу дебрифінг</p>
								</div>
							</div>

							<div class="advantage" data-aos="fade-up" data-aos-delay="100">
								<div>
									<h3 class="advantage-title">Оглядаю</h3>
									<p>комунікацію конкурентів</p>
								</div>
							</div>

							<div class="advantage" data-aos="fade-up" data-aos-delay="200">
								<div>
									<h3 class="advantage-title">Розробляю</h3>
									<p>концепт, шукаю слова</p>
								</div>
							</div>

							<div class="advantage" data-aos="fade-up" data-aos-delay="300">
								<div>
									<h3 class="advantage-title">Презентую</h3>
									<p>результат</p>
								</div>
							</div>


							<div class="advantage" data-aos="fade-up" data-aos-delay="400">
								<div>
									<h3 class="advantage-title">Даю</h3>
									<p>два кола доопрацювань</p>
								</div>
							</div>
						</div>
						<div class="advantages-img" >
							<img src="img/paper-img.jpg" alt="" data-aos="flip-up">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect advantages -->

			<section class="sect__about">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up">Хто? <i>Що?</i></h2>

					<div class="about row align-vertical-center row-nowrap">
						<div class="about-author" data-aos="flip-up">
							<h3 class="about-author__title">
								<i>Я Карина,</i> копірайтерка, авторка, дизайнерка слів —
							</h3>
						</div>
						<div class="about-img" data-aos="flip-up" data-aos-delay="150">
							<img src="img/karina.jpg" alt="">
						</div>
						<div class="about-text" data-aos="fade-up" data-aos-delay="300">
							<p>у різних компаніях мою роль називають по-різному, але завдання лишається спільним: досягати, щоб слова були не випадковими, а формували та посилювали бренд, грали на його користь. За п’ять років у студії Slovo я попрацювала з більше як 100 компаній, створюючи і назви, і короткі тексти для тактичних завдань. 2021 року, відмовившись від розбудови бізнесу й збільшення команди, я концентрувалася на вербальній айдентиці. Я працюю сама, але звертаюсь по допомогу до професійних редакторів і перекладачів і, звісно, завжди рада цікавим колабораціям. </p>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect about -->


			<section class="sect__partners">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up">Спільно<i>кореневі</i></h2>
					<h3 class="sect-subtitle" data-aos="flip-up" data-aos="150">Деякі з моїх клієнтів</h3>

					<div class="partners js-partners-slider">
						<div class="partner"><img src="img/partners/1.svg" alt=""></div>
						<div class="partner"><img src="img/partners/2.svg" alt=""></div>
						<div class="partner"><img src="img/partners/3.svg" alt=""></div>
						<div class="partner"><img src="img/partners/4.svg" alt=""></div>
						<div class="partner"><img src="img/partners/5.svg" alt=""></div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect partners -->


			<section class="sect__consultation">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up"><i>«</i>У лапках<i>»</i></h2>

					<div class="consultation">
						<div class="consultation-entering row align-vertical-start align-horisontal-between row-nowrap">
							<div class="block-text" data-aos="fade-up">
								<p>Якщо ви вже маєте власну команду змін<br> і потрібна лише моя консультація.</p>
								<p><b>100 $</b> <i>(від 5 до 120 хвилин)</i></p>
							</div>


							<span class="arrow"></span>
							
						</div>

						<div class="consultation-content row align-vertical-center row-nowrap">
							<div class="consultation-img" data-aos="flip-up" data-aos-delay="150">
								<img src="img/clocks.jpg" alt="">
							</div>

							<div class="block-text" data-aos="flip-up" data-aos-delay="300">
								<p><b>І мене можна запросити виступити лектором. Пріоритетні теми</b> — вербальна айдентика, неймінг, ключове повідомлення. Я викладала в <i>«Багажі»</i> та <i>«Litosvita».</i></p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect consultation -->

			<section class="sect__condition">
				<div class="container">
					<h2 class="sect-title" data-aos="flip-up">Одна <i>умова</i></h2>

					<div class="condition row align-horisontal-between row-nowrap">
						<div class="block-text" data-aos="fade-up">
							<p>Будь-яку роботу я починаю вже після того, як компанія узгодила й затвердила позиціювання компанії / платформу бренду. </p>
						</div>

						<div class="condition-img" data-aos="flip-up" data-aos-delay="150">
							<img src="img/karina2.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect condition -->

			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>