{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		{% include '../parts/components/float-img.html' %}


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="sect__article">
				<div class="container">
					<article class="article">
						<h1 class="article-title">Duck<br> the rules</h1>

						<header class="article-header">
							<div class="article-header__img thumbnail">

								<img src="img/article.jpg" alt="">
							</div>

							<div class="article-header__content">
								<div class="article-decor">
									<img src="img/duck.png" alt="">
								</div>
								<div>
									<p>Клієнт вирішив створити конкурента всім глобальним продавцям кави в Україні й вивести на полиці каву свіжого обсмаження. Заморочитися на якості, але дати людям можливість купувати каву як у кав’ярні у найближчому супермаркеті. Завдання непросте, бо це руйнує всі встановлені порядки.</p>
								</div>

								<div class="article-link text-right">
									<a href="#" target="_blank">ducktherules.<i>com.ua</i></a>
								</div>
							</div>
						</header>

						<div class="article-link article-link__mobile">
							<a href="#" target="_blank">ducktherules.<i>com.ua</i></a>
						</div>

						<div class="article-content content">
							<h2>Перше, що ми <i>зробили</i></h2>
							<p>1. Перше, що ми зробили, — пішли в супермаркети дивитись на каву, яка там є, і на її назви. Виявили дуже популярну групу італійських назв, а також групу назв із м’якими, ніби пінка капучино, звучаннями. Зрозуміли, що стилістично саме від цього нам буде потрібно відмежовуватися.</p>
							<p>2. Показали клієнту ці спостереження, поговорили, які рішення в комунікації можуть бути. </p>

							<img src="img/img-1.jpg" alt="">

							<p>3. Пішли вигадувати варіанти. Створювати бути легко, бо у клієнта вже було узгоджена. Йдуже чітка позиція. Шукали образи навколо образу бунту. Тут можна вказати декілька напрямків, треба підняти архіви. Після того, як накидали варіанти, пішли перевіряти на унікальність. </p>

							<h3>Показали клієнту ці</h3>

							<p>4. Останній етап перед презентацією — перевірка на асоціації. <a href="#">Для назв це обов’язково</a>, тому що дає можливість звіритися з брифом і уникнути несподіваних співзвучь або образів, які ти на етапі створення не помітив. Уже на цьому етапі ми зрозуміли, що назва Duck the rules перемагає, люди написали в асоціаціях майже те саме, що було у нас в брифі.</p>

							<img src="img/img-2.jpg" alt="">

							<p> 5. Чому власне назва саме така? Ми грали на образі «проти правил», але за брифом не мали бути прямо грубими, тож качка внесла потрібної милоти. Потім її вдалося дуже вдало обіграти в дизайні.</p>

							<ul>
								<li>Далеко-далеко за словесными горами в стране.</li>
								<li>Маленькая даль возвращайся что оксмокс!</li>
								<li>Продолжил он заманивший сбить безорфографичный.</li>
								<li>Города несколько составитель прямо страну.</li>
								<li>Напоивший буквенных заглавных там жаренные!</li>
							</ul>

							<ol>
								<li>Далеко-далеко за словесными горами в стране гласных и согласных, живут, рыбные тексты.</li>
								<li>Однажды вскоре заманивший безорфографичный домах заголовок свою всеми, коварный эта.</li>
								<li>Рыбного, пор. Свой сбить это что толку вершину там, семь?</li>
								<li>За грамматики рекламных заманивший журчит раз на берегу дорогу, над пустился?</li>
								<li>Агентство эта за пунктуация всеми однажды если осталось власти не!</li>
								<li>Эта, последний лучше она до переписали живет города всемогущая переписывается.</li>
								<li>Текст, по всей. Запятой они рукописи переулка безорфографичный большого напоивший единственное.</li>
								<li>Страна, гор семантика то, моей большого необходимыми там продолжил послушавшись.</li>
								<li>Знаках, вдали! Подпоясал журчит, меня, переписывается запятых инициал жизни своего.</li>
								<li>Имени букв ipsum журчит предложения вскоре гор, подзаголовок переписали правилами.</li>
								<li>Безорфографичный однажды своих которое то мир переулка имеет его о.</li>
								<li>Вершину сих знаках обеспечивает инициал текстов семь всемогущая курсивных, это?</li>
							</ol>


						</div>
					</article>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__portfolio sect__portfolio-inner">
				<div class="container">
					<h2 class="sect-title decor-title decor-title-blue">слово<i>праця</i></h2>

					
					{% include '../parts/components/portfolio-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>