{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		{% include '../parts/components/float-img.html' %}


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="sect__portfolio">
				<div class="container">
					<h1 class="sect-title decor-title">слово<i>праця</i></h1>

					
					{% include '../parts/components/portfolio-slider.html' %}
				</div>
				<!-- //container -->
			</section>
			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>