<div class="portfolio-wrapper">

	<div class="portfolio-slider js-portfolio-slider">
		<div class="portfolio-slide" data-img-src="img/book.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">kharkiv.airport</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/brief.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">free on friday</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/clocks.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">сніг на голову</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/karina.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">grace tea</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/brief.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">tato.agency</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/book.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">duck the rules</a>
			</h2>
		</div>
		<!-- //slide -->

		<div class="portfolio-slide" data-img-src="img/brief.jpg">
			<h2 class="portfolio-link">
				<a href="page-single.html">free on friday</a>
			</h2>
		</div>
		<!-- //slide -->


	</div>

	<div class="portfolio-slider__btn-wrapper text-center">
		<button class="portfolio-slider__btn js-portfolio-slider-btn" type="button">
			<svg  viewBox="0 0 30 102" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.5858 101.414C14.3668 102.195 15.6332 102.195 16.4142 101.414L29.1421 88.6863C29.9232 87.9052 29.9232 86.6389 29.1421 85.8579C28.3611 85.0768 27.0948 85.0768 26.3137 85.8579L15 97.1716L3.6863 85.8579C2.90525 85.0768 1.63892 85.0768 0.857868 85.8579C0.0768194 86.6389 0.0768194 87.9052 0.857868 88.6863L13.5858 101.414ZM13 8.74228e-08L13 100L17 100L17 -8.74228e-08L13 8.74228e-08Z" />
			</svg>
		</button>
	</div>



</div>