.header
	position fixed
	top 0
	left 0
	padding 20px 0
	z-index 10
	width 100%
	transition background-color .17s ease-in-out
	&.is-fixed
		background-color white
	&-title
		font 13px $Reg
		line-height 1
		margin-top 9px
		width fit-content
		white-space nowrap
		i, span
			text-transform none
	
	&-divider
		display flex
		align-items center
		flex-wrap nowrap
		span
			display block
			width 175px
			height 1px
			background-color $basic-black-color
			
		
	&-inner
		.nav-wrapper
			display none
			
		.logo
			display flex
			align-items center
			
			.header-title__logo
				margin-left 100px
				margin-top 0
				

.langs
	margin-left 30px
	a
		font 14px $MReg
		&:hover
			color $accent-color