.header
	background-color $header-bg
	position fixed
	top 0
	left 0
	padding 20px 0
	z-index 10
	width 100%
	
	&-divider
		display block
		width 175px
		height 1px
		background-color $basic-black-color