.header
	position fixed
	top 0
	left 0
	padding 20px 0
	z-index 10
	width 100%
	transition background-color .17s ease-in-out
	&.is-fixed
		background-color white
	&-title
		font 13px $Reg
		line-height 1
		margin-top 9px
		width fit-content
		i, span
			text-transform none
	
	&-divider
		display block
		width 175px
		height 1px
		background-color $basic-black-color