.nav
	&-logo
		display none
		margin 0 auto 100px auto
	&-wrapper
		flex 1
		margin-left 20px
		margin-right 20px
		
		
		.logo
			img
				max-width 185px !important
		
		.promo-round
			position relative
			left auto
			bottom auto
			width 104px
			height 104px
			display none
			margin-top 100px
			svg
				height 31px
	
	ul
		display flex
		justify-content space-evenly
		align-items center
		li
			display inline-block
			margin-right 20px
			&:last-child
				margin-right 0
				
			&.current-menu-item
				a
					&:before
						width 100%
				
		a
			font-size 24px
			display inline-block
			position relative
			color $text-color
			&:before
				pseudo()
				position absolute
				left 0
				width 0
				vertical-center()
				height 4px
				background-color $accent-color
				transition width .17s ease-in-out
			&:hover
				&:before
					width 100%
			