<footer class="footer footer-inner">
	
	<div class="container">

		<div class="row align-horisontal-between align-vertical-center copyright__row row-gutters">
			<p class="copyright col-gutters"> від сміливих українців — <i>2022</i></p>

			<nav class="nav col-gutters">
				<ul>
					<li><a href="page-portfolio.html">роботи</a></li>
					<li><a href="index.html#prices">ціни</a></li>
					<li><a href="index.html#contacts">контакти</a></li>
				</ul>
			</nav>

			<a href="#" target="_blank" class="developer col-gutters">дизайн <strong>TATO.</strong></a>
		</div>
	</div>
	<!-- //container -->
</footer>
