<footer class="footer">
	<section class="sect__brief">
		<div class="container">
			<div class="brief">
				<div class="brief-text">
					<div>
						<h2 class="sect-title" data-aos="flip-up">Знак <i>питання</i></h2>
						<p class="brief-link" data-aos="fade-up" data-aos-delay="150"><a href="#">заповніть короткий бриф</a> щоб робота почалася</p>
						<p class="brief-link__notice" data-aos="fade-up" data-aos-delay="300">посилання на google docs</p>
					</div>

					<div class="brief-img" data-aos="flip-up" data-aos-delay="450">
						<img src="img/brief.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</section>
	<!-- //sect brief -->

	<section class="sect__dialog">
		<div class="container">
			<h2 class="sect-title" data-aos="flip-up">Діалог</h2>

			<div class="dialog">
				<div class="dialog-img" data-aos="flip-up">
					<img src="img/contact.jpg" alt="">
				</div>

				<div class="dialog-row row align-horisontal-between align-vertical-start row-nowrap row-gutters">
					<div class="dialog-link col-gutters" data-aos="fade-up" data-aos-delay="0">
						<a href="#" target="_blank"><b>мій маленький<br> <i>блог</i> про копірайтинг</b></a>
					</div>

					<div class="dialog-link col-gutters" data-aos="fade-up" data-aos-delay="150">
						<a href="#" target="_blank"><b>Фб</b><br> професійні<br> й життєві новини</a>
					</div>
					
					
				</div>

				<div class="dialog-row phone-row row align-horisontal-between align-vertical-start row-nowrap row-gutters">
					<div class="dialog-link col-gutters" data-aos="fade-up" data-aos-delay="300">
						<a href="#" target="_blank"><b>Телеграм</b></a>
					</div>

					<div class="dialog-link col-gutters" data-aos="fade-up" data-aos-delay="450">
						<a href="tel:+38 067 54 63 892" target="_blank"><b>+38 067 54 63 892</b></a>
						<p><i>дзвінків часом лякаюся,<br> тому прошу набирати<br> лише у критичному випадку =)</i></p>
					</div>
				</div>

				
			</div>


			<div class="row align-horisontal-between align-verticla-center copyright__row row-gutters">
				<p class="copyright col-gutters"> від сміливих українців — <i>2022</i></p>

				<a href="#" target="_blank" class="developer">дизайн <strong>TATO.</strong></a>
			</div>
		</div>
		<!-- //container -->
	</section>
	<!-- //sect dialog -->
</footer>
