//  Fonts 
$Italic = 'PlayfairDisplay-Italic', Arial, sans-serif
$Reg = 'RFDewiExpanded-Regular', Arial, sans-serif
$SemiBold = 'RFDewiExpanded-Semibold', Arial, sans-serif
$Bold = 'RFDewiExpanded-Bold', Arial, sans-serif
$Black = 'RFDewiExpanded-Black', Arial, sans-serif

$MReg = 'Montserrat-Regular', Arial, sans-serif
$MMed = 'Montserrat-Medium', Arial, sans-serif
$MBold = 'Montserrat-Bold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $MReg
$body-font-size = 16px
$body-line-height = 2

// Sizes
$container-width = 1730px
$container-gutters = 0 80px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #FAF010
$text-color = #000


$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========